GEMINI_API_KEY=""
SYNOD_API_KEY="zenox-secret"
FRONTEND_URL=""
BACKEND_URL=""

VITE_API_URL=""
VITE_SYNOD_API_KEY="zenox-secret"

VITE_FIREBASE_API_KEY=""
VITE_FIREBASE_AUTH_DOMAIN=""
VITE_FIREBASE_PROJECT_ID=""
VITE_FIREBASE_STORAGE_BUCKET=""
VITE_FIREBASE_MESSAGING_SENDER_ID=""
VITE_FIREBASE_APP_ID=""
VITE_FIREBASE_MEASUREMENT_ID=""
